<head >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<div class="card">
  <div class="card-body">
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div  class="col-md-3 col-lg-3" style="text-align: center;margin-bottom: 5px;">
        <div  style="background-color: blue;height: 80px; ">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span #geneladet style="font-size: 40px;">{{kiralamailanlariadet}}
            </span><span  style="font-size: 20px;">adet</span></span>
            <button (click)="alert(kiralamailanlariadet,kiralamailanlarihektar,kira)" data-toggle="modal" data-target="#kiralamailanlari" class="btn btn" style="background-color: transparent; float: right; outline: none;" type="button">
              <br ><i class="fa fa-list-alt fa-2x"  style="color: white;margin-bottom: 10px; padding: 0px;"></i>
            </button>
        </div>
        <div  style="background-color: blue;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span #genelhektar  style="font-size: 40px;">{{kiralamailanlarihektar}}
            </span><span  style="font-size: 20px;">hektar</span></span>
        </div>
        <div  style="background-color: blue;height: 80px;">
          <span style="color: white;margin-left: 15px;float: left;margin-bottom: 10px;"><br>
            <h2 #genelbaslik class="titleText">{{kira}}</h2>
            
          </span>
          <i  class="fa fa-pie-chart fa-3x" style="color: white; margin-right: 15px; margin-top: 20px; float: right;"></i>
        </div>
      </div>
      <div class="col-md-3 col-lg-3" style="text-align: center;margin-bottom: 5px;">
        <div  style="background-color: red;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">{{kiralananArazilerAdet}}
            </span><span  style="font-size: 20px;">adet</span></span>
            <button (click)="alert(kiralananArazilerAdet,kiralananArazilerHektar,kiralanan)" data-toggle="modal" data-target="#kiralamailanlari"  class="btn btn" style="background-color: transparent; float: right; outline: none;" type="button">
              <br ><i   class="fa fa-list-alt fa-2x" style="color: white;margin-bottom: 10px; padding: 0px;"></i>
            </button>
        </div>
        <div  style="background-color: red;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">{{kiralananArazilerHektar}}
            </span><span  style="font-size: 20px;">hektar</span></span>
        </div>
        <div  style="background-color: red;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;margin-bottom: 10px;"><br >
            <h2 class="titleText">{{kiralanan}}</h2>
          </span>
          <i class="fa fa-area-chart fa-3x" style="color: white; margin-right: 15px; margin-top: 20px; float: right;"></i>
        </div>
      </div>
      <div  class="col-md-3 col-lg-3" style="text-align: center;margin-bottom: 5px;">
        <div  style="background-color: orange;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">{{satisIlanlariAdet}}
            </span><span style="font-size: 20px;">adet</span></span>
            <button  (click)="alert(satisIlanlariAdet,satilanArazilerHektar,satis)" data-toggle="modal" data-target="#kiralamailanlari"  class="btn btn" style="background-color: transparent; float: right; outline: none;" type="button">
              <br ><i   class="fa fa-list-alt fa-2x" style="color: white;margin-bottom: 10px; padding: 0px;"></i>
            </button>
        </div>
        <div  style="background-color: orange;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">{{satisIlanlariHektar}}
            </span><span style="font-size: 20px;">hektar</span></span>
        </div>
        <div  style="background-color: orange;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;margin-bottom: 10px;"><br >
            <h2 class="titleText">{{satis}}</h2>
          </span>
          <i  class="fa fa-signal fa-3x" style="color: white; margin-right: 15px; margin-top: 20px; float: right;"></i>
          <br >
        </div>
      </div>
      <div  class="col-md-3 col-lg-3" style="text-align: center;margin-bottom: 5px;">
        <div  style="background-color: grey;height: 80px; ">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">{{satilanArazilerAdet}}
            </span><span  style="font-size: 20px;">adet</span></span>
            <button (click)="alert(satilanArazilerAdet,satilanArazilerHektar,satilan)" data-toggle="modal" data-target="#kiralamailanlari"  class="btn btn" style="background-color: transparent; float: right; outline: none;" type="button">
              <br ><i  class="fa fa-list-alt fa-2x" style="color: white;margin-bottom: 10px; padding: 0px;"></i>
            </button>
        </div>
        <div style="background-color: grey;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">{{satilanArazilerHektar}}
            </span><span  style="font-size: 20px;">hektar</span></span>
        </div>
        <div  style="background-color: grey;height: 80px;">
          <span style="color: white;margin-left: 15px;float: left;margin-top: 10px;margin-bottom: 10px;"><br>
            <h2>{{satilan}}</h2>
          </span>
          <i  class="fa fa-area-chart fa-3x" style="color: white; margin-right: 15px; margin-top: 20px; float: right;"></i>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
  <div style="margin-left: 2px;" class="row">
  <div  class="col-md-3 col-lg-3" style="text-align: center;margin-bottom: 5px;">
    <div  style="background-color: #5BC0DE;height: 80px;margin-left: 3px;">
      <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">{{netGelirHesabiAdet}}
        </span><span  style="font-size: 20px;">adet</span></span>
      <button (click)="alert(netGelirHesabiAdet,netGelirHesabiHektar,net)" data-toggle="modal" data-target="#kiralamailanlari"  class="btn btn" style="background-color: transparent; float: right; outline: none;" type="button">
        <br ><i  class="fa fa-list-alt fa-2x" style="color: white;margin-bottom: 10px; padding: 0px;"></i>&nbsp;
      </button>
    </div>
    <div  style="background-color: #5BC0DE;height: 80px;margin-left: 3px;">
      <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span style="font-size: 40px;">{{netGelirHesabiHektar}}
        </span><span  style="font-size: 20px;">hektar</span></span>
    </div>
    <div  style="background-color: #5BC0DE;height: 80px;margin-left: 3px;">
      <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;margin-bottom: 10px;"><br>
        <h2  class="titleText">{{net}}</h2>
      </span>
      <br ><i  class="fa fa-line-chart fa-3x" style="color: white; margin-right: 15px; margin-bottom: 10px; float: right;"></i>
    </div>
    
    <div  style="background-color: #3399FF;height: 80px; margin-top: 25px; margin-left: 3px;">
      <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span style="font-size: 40px;">{{kiymetTakdiriAdet}}
        </span><span  style="font-size: 20px;">adet</span></span>
      <button (click)="alert(kiymetTakdiriAdet,kiymetTakdiriHektar,takdir)" data-toggle="modal" data-target="#kiymettakdiri"  class="btn btn" style="background-color: transparent; float: right; outline: none;" type="button">
        <br ><i  class="fa fa-list-alt fa-2x" style="color: white;margin-bottom: 10px; padding: 0px;"></i>&nbsp;
      </button>
    </div>
    <div  style="background-color: #3399FF;height: 80px;margin-left: 3px;">
      <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">{{kiymetTakdiriHektar}}
        </span><span  style="font-size: 20px;">hektar</span></span>
    </div>
    <div  style="background-color: #3399FF;height: 80px;margin-left: 3px;">
      <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;margin-bottom: 10px;"><br >
        <h2  class="titleText">{{takdir}}</h2>
      </span>
      <br ><i  class="fa fa-bar-chart fa-3x" style="color: white; margin-right: 15px; margin-bottom: 10px; float: right;"></i>
    </div>
</div>
<div class="col-md-9">
  <div class="chart">
  <canvas id="bar"  height="37" width="100" baseChart
  [datasets]="[{data:[kiralamailanlariadet,kiralananArazilerAdet,satisIlanlariAdet,satilanArazilerAdet,netGelirHesabiAdet,kiymetTakdiriAdet],label:'Başvuru Sayısı'},{data:[kiralamailanlarihektar,kiralananArazilerHektar,satisIlanlariHektar,satilanArazilerHektar,netGelirHesabiHektar,kiymetTakdiriHektar],label:'Başvuru Alanı'}]"
  [labels]=[kira,kiralanan,satis,satilan,net,takdir]
  [options]="barChartOptions"
  [legend]="barChartLegend"
  [chartType]="barChartType">
  </canvas>
</div></div>
</div>



<!-- modal hepsi -->
<div class="modal fade" tabindex="-1" role="dialog" id="kiralamailanlari">
  <div class="modal-dialog">
    <div class="modal-content" style="height: 500px; width: 800px;">
      <div class="modal-header">
        <h4 class="modal-title">{{genelbaslikgelen}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <!-- Başlıyor -->
      
        <!-- Bitiyor -->
      <div style="height: 500px; width: 800px;" class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">İl</th>
              <th scope="col">İlçe</th>
              <th scope="col">Mahalle</th>
              <th scope="col">Başvuru Sayısı</th>
              <th scope="col">Başvuru Alanı (ha)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">-</th>
              <td>{{hepsiil}}</td>
              <td>{{hepsiilce}}</td>
              <td>{{hepsimahalle}}</td>
              <td>{{geneladetgelen}}</td>
              <td>{{genelhektargelen}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>




<!-- kıymet Takdiri -->

<div class="modal fade" tabindex="-1" role="dialog" id="kiymettakdiri">
  <div class="modal-dialog">
    <div class="modal-content" style="height: 500px; width: 800px;">
      <div class="modal-header">
        <h4 class="modal-title">{{genelbaslikgelen}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>

      <!-- Başlıyor -->
      
        <!-- Bitiyor -->
      <div style="height: 500px; width: 800px;" class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">İl</th>
              <th scope="col">İlçe</th>
              <th scope="col">Mahalle</th>
              <th scope="col">Başvuru Sayısı</th>
              <th scope="col">Başvuru Alanı (ha)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">-</th>
              <td>{{hepsiil}}</td>
              <td>{{hepsiilce}}</td>
              <td>{{hepsimahalle}}</td>
              <td>{{kiralamailanlariadet}}</td>
              <td>{{kiymetTakdiriHektar1}}</td>
            </tr>
            <tr>
              <th scope="row">-</th>
              <td>{{hepsiil}}</td>
              <td>{{hepsiilce}}</td>
              <td>{{irem}}</td>
              <td>{{kiralamailanlariadet}}</td>
              <td>{{kiymetTakdiriHektar1}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>
  </div>
</div>





