<head >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<div class="card">

  <div class="card-body">
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div  class="col-md-3 col-lg-3" style="text-align: center;margin-bottom: 5px;">
        <div  style="background-color: blue;height: 80px; margin-top: 25px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span style="font-size: 40px;">1
            </span><span  style="font-size: 20px;">adet</span></span>
        </div>
        <div  style="background-color: blue;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">0.829943
            </span><span  style="font-size: 20px;">hektar</span></span>
        </div>
        <div  style="background-color: blue;height: 80px;">
          <span style="color: white;margin-left: 15px;float: left;margin-bottom: 10px;"><br>
            <h2  class="titleText">Kiralama İlanları</h2>
          </span>
        </div>
      </div>
      <div class="col-md-3 col-lg-3" style="text-align: center;margin-bottom: 5px;">
        <div  style="background-color: red;height: 80px; margin-top: 25px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">1
            </span><span  style="font-size: 20px;">adet</span></span>
        </div>
        <div  style="background-color: red;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">0.829943
            </span><span  style="font-size: 20px;">hektar</span></span>
        </div>
        <div  style="background-color: red;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;margin-bottom: 10px;"><br >
            <h2 class="titleText">Kiralanan Araziler</h2>
          </span>
        </div>
      </div>
      <div  class="col-md-3 col-lg-3" style="text-align: center;margin-bottom: 5px;">
        <div  style="background-color: orange;height: 80px; margin-top: 25px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">4
            </span><span style="font-size: 20px;">adet</span></span>
        </div>
        <div  style="background-color: orange;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">1.697608
            </span><span style="font-size: 20px;">hektar</span></span>
        </div>
        <div  style="background-color: orange;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;margin-bottom: 10px;"><br >
            <h2 class="titleText">Satış İlanları</h2>
          </span>
          <br >
        </div>
      </div>
      <div  class="col-md-3 col-lg-3" style="text-align: center;margin-bottom: 5px;">
        <div  style="background-color: grey;height: 80px; margin-top: 25px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">4
            </span><span  style="font-size: 20px;">adet</span></span>
        </div>
        <div style="background-color: grey;height: 80px;">
          <span  style="color: white;margin-left: 15px;float: left;margin-top: 10px;"><span  style="font-size: 40px;">1.697608
            </span><span  style="font-size: 20px;">hektar</span></span>
        </div>
        <div  style="background-color: grey;height: 80px;">
          <span style="color: white;margin-left: 15px;float: left;margin-top: 10px;margin-bottom: 10px;"><br>
            <h2>Satılan Araziler</h2>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
<i class="fa fa-list-alt" aria-hidden="true"></i>